
.icon_twitter{
    color: #ffff;
    cursor:pointer;
}
.icon_twitter:hover{
    color: #24a4f2;
    width: 70px;
    height: 70px;
    transition:all 0.3s linear;
}
.icon_whatsapp{
    color: #ffff;
    cursor:pointer;
}
.icon_whatsapp:hover{
    color: #5bd168;
    transition:all 0.2s linear;
    width: 70px;
    height: 70px;
}
.icon_facebook{
    color: #ffff;
    cursor:pointer;
}
.icon_facebook:hover{
    background-color: #0863f7;
    border-radius: 50%;
    transition:all 0.2s linear;
    width: 70px;
    height: 70px;
}
.icon_instagram{
    cursor:pointer;
    color: white;
}
.icon_instagram:hover{
    background-image: linear-gradient(#8938c5, #f74f3b);
    border-radius: 30%;
    transition:all 0.2s linear;
    width: 70px;
    height: 70px;
}
.icon_linkedin{
    color: #ffff;
    border-radius: 50%;
    cursor:pointer;
}
.icon_linkedin:hover{
    color: #0a66c2;
    background-color: #ffff;
    transition:all 0.2s linear;
    width: 80px;
    height: 80px;
}
.icon_gmail{
    color: #ffff;
    width: 100px;
    height: 100px; 
    cursor:pointer;
}
.icon_gmail:hover{
    width: 120px;
    height: 120px; 
    transition:all 0.2s linear;
    .icon_gmail_path_1{
        fill: #4caf50;
    }
    .icon_gmail_path_2{
        fill: #1e88e5;
    }
    .icon_gmail_path_3{
        fill: #e53935;
    }
    .icon_gmail_path_4{
        fill: #c62828;
    }
    .icon_gmail_path_5{
        fill: #fbc02d;
    }
}
.icon_gmail_path_1{
    fill: #ffff;
}
.icon_gmail_path_2{
    fill: #ffff;
}
.icon_gmail_path_3{
    fill: #ffff;
}
.icon_gmail_path_4{
    fill: #ffff;
}
.icon_gmail_path_5{
    fill: #ffff;
}
.icon_github{
    color: #ffff;
    cursor:pointer;
}
.icon_github:hover{
    color: black;
    background-color: #ffff;
    border-radius: 50%;
    transition:all 0.2s linear;
    width: 80px;
    height: 80px;
}